{% extends 'base.html' %}

{% block title %}
    | {{ post.title_tag }}
{% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <small>@{{ post.author}} - {{ post.post_date }}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %} -
                <a href="{% url 'edit_post' post.pk %}">Edit</a> |
                <a href="{% url 'delete_post' post.pk %}">Delete</a>
            {% endif %}
        {% endif %}
    </small>
    <hr>
    <br>

    <p>{{ post.body|safe }}</p>
    <br>

    <hr>

    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">Unlike</button> 
            {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
            {% endif %}
        {% else %}
        <small><a href="{% url 'login' %}">Log In</a> to like</small>
        {% endif %}
        - {{ total_likes}} Likes
    </form>

    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}
