{% extends 'base.html' %}

{% block title %}
    | Delete post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    {% if user.id == post.author.id %}

        <h1>Delete Post</h1>

        <br>
        <h3>Delete: <em>{{ post.title }}</em></h3>
        <br>

        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                <strong>Are you sure?!</strong>
                <br>
                <button type="submit" class="btn btn-secondary">Delete Post</button>
            </form>
        </div>
        
    {% else %} 

        <h1 class="mt-5 text-center">You're not allowed here!</h1>
    
    {% endif %}

{% else %} 

<h1 class="mt-5 text-center">You're not allowed here!</h1>

{% endif %}

{% endblock %}
